.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

.queue {
  display: flex;
  flex-direction: row;
  margin: 0 5em 0 5em;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 2.5%;
  text-align: center;
}
.title {
  padding-top: 30px;
  color: var(--accent-color);
  text-align: center;
}
.input-item {
  margin-bottom: 10px;
}
.add-roommate {
  margin-right: 10px;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roommate-item-selected {
  border-style: solid;
  border-radius: 10px;
  border-color: var(--accent-color);
  font-size: 40px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--accent-color);
}
.roommate-item {
  font-size: 40px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--text-color);
}
.roommate-form {
  margin-top: 20px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  background-color: var(--primary-color);
  border-radius: 0.5%;
  padding: 1em 2em 1em 2em;
}
.title-2 {
  margin-bottom: 20px;
  color: var(--accent-color);
}
.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  color: var(--text-color);
}
.stats {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: var(--text-color);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}