.main-div {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-4 {
    color: var(--accent-color);
}

.line-ornament {
    width: 500px; /* Line width */
    height: 2px; /* Line thickness */
    background-color: var(--text-color); /* Line color */
    margin: 0 auto 30px auto;
}